.boyler {
  @include mq("tablet") {
    display: flex;
  }

  & .goods-title {
    color: $light-color;
  }
  &__kotel {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;

    @include mq("tablet") {
      width: 70%;
    }
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
      url(../images/heating-systems/kotel.png) no-repeat;
    background-position: center;
    background-size: contain;

    & .goods-title--block {
      margin-right: auto;
      margin-left: auto;
      max-width: 300px;
      background-color: rgba($color: #000000, $alpha: 0.8);
      padding: 1rem 2rem;

      @include mq("desktop") {
        max-width: 650px;
        font-size: 5.5rem;
      }
    }
  }

  &__bak {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    background: url(../images/heating-systems/boyler.jpg) no-repeat;
    background-position: left top;
    background-size: cover;
    @include mq("tablet") {
      width: 30%;
    }
    & .goods-title {
      margin-left: auto;
      text-align: center;
      max-width: 300px;
      color: #fff;
      background-color: rgba($color: #000000, $alpha: 0.8);
      padding: 1rem 2rem;
    }
  }
}
