.buy-from-us {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  background-color: $bg-dark;

  @include mq("tablet") {
    @include poligon;
    padding-bottom: 8rem;
  }

  & h1 {
    font-size: 5rem;
    font-weight: bold;
    color: $light-color;

    @include mq("desktop") {
      font-size: 7rem;
    }
  }
}
