.buy-from-us {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  background-color: $bg-dark;

  & h1 {
    font-size: 5rem;
    font-weight: bold;
    color: $light-color;
  }
}
