.filters {
  @include block;

  & .goods-title {
    text-align: center;
  }
}

.filters-data {
  @include mq("tablet") {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.filters-image {
  position: relative;
  height: 60vw;
  max-height: 400px;
  margin-bottom: 30px;
  overflow: hidden;
  @include mq("tablet") {
    min-width: 35%;
    height: initial;
    min-height: 230px;
    margin-left: 2em;
  }
  & img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.filters-description {
  text-align: justify;
  margin-bottom: 1em;

  @include mq("desktop") {
    font-size: 2rem;
    font-weight: 600;
  }

  & b {
    text-transform: uppercase;
    color: $main-color;
  }
}
