#header {
  z-index: 1222;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  //min-height: 130px;
  background-color: $bg-dark;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &.header--scroll {
    & .logo {
      display: none;
      @include mq("tablet") {
        display: block;
      }
    }
  }
}

.header__top {
  color: $light-color;
  font-weight: 600;
  text-align: center;

  @include mq("tablet") {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  @include mq("desktop") {
    justify-content: space-between;

    & .work-time {
      margin-left: auto;
      margin-right: 1em;
    }
  }
}
