#header {
  background-color: $bg-dark;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header__top {
  color: $light-color;
  font-weight: 600;
  text-align: center;

  @include mq("tablet") {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  @include mq("desktop") {
    justify-content: space-between;

    & .work-time {
      margin-left: auto;
      margin-right: 1em;
    }
  }
}
