#header {
  position: relative;
}

.header__top {
  background-color: $bg-dark;
  color: $light-color;
  font-weight: 600;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.phone__link {
  text-decoration: none;
  color: $main-color;
  font-size: 2rem;
  & span {
    font-weight: normal;
  }
}
