.logo {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1em;
  color: $main-color;
  text-align: center;
  position: absolute;
  top: 0.5em;
  left: 50%;
  transform: translateX(-50%);

  @include mq("tablet") {
    position: relative;
    text-align: left;
    top: initial;
    left: initial;
    transform: initial;
  }
}
