*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  @include font-stile(1.8rem, $font-color, 400, 1.6);
  background: #fff;
  min-height: 100vh;
  min-width: 320px;

  &.no-scroll {
    overflow: hidden;
  }
}
