.map {
  display: none;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 450px;

  & iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &.map--show {
    display: block;
  }
}
