.phone {
  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    margin-right: 0.5em;
  }
}

.phone__link {
  @include animate;
  display: block;
  position: relative;
  text-decoration: none;
  color: $main-color;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: left;
  outline: none;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $hover-color;
  }
}
