.pipes-goods {
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow-x: hidden;
}

.pipes-goods__item {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;

  @include mq("tablet") {
    max-width: initial;
    display: flex;
    justify-content: flex-start;
  }
}

.pipes-goods__img {
  position: relative;
  height: 60vw;
  max-height: 400px;
  margin-bottom: 30px;
  overflow: hidden;
  @include mq("tablet") {
    min-width: 35%;
    height: initial;
    margin-right: 2em;
    box-shadow: 2px 0 10px 3px $bg-dark;
  }
  & img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.pipes-goods__description {
  text-align: justify;
  margin-bottom: 1em;

  @include mq("desktop") {
    font-size: 2rem;
    font-weight: 600;
  }

  & b {
    text-transform: uppercase;
    color: $main-color;
  }
}
