.pipes-goods {
  @include block;
  overflow-x: hidden;
}

.pipes-goods__item {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;

  @include mq("tablet") {
    max-width: initial;
    display: flex;
    justify-content: flex-start;
  }
}

.pipes-goods__description {
  text-align: justify;
  margin-bottom: 1em;

  @include mq("desktop") {
    font-size: 2rem;
    font-weight: 600;
  }

  & b {
    text-transform: uppercase;
    color: $main-color;
  }
}
