#slogan {
  @include block;

  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/slogan/hot.jpg) no-repeat;

  background-size: cover;

  @include mq("desktop") {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
